data/*.json
data/site_generate_listing.lock
logs/*.log
logs/*/*.log
docroot/snapshot.html
docroot/web.config
docroot/downloads/pecl/
docroot/downloads/php-sdk/
docroot/downloads/pickle/
docroot/downloads/qa/
docroot/downloads/releases/
docroot/downloads/snaps/
docroot/downloads/nano/
