html {
	height: 100%;
	margin-bottom: 1px;/* force vertical scrollbars */
}

* {
    font-size: 11px;
	text-align: left;
	font-family: Tahoma, Arial, sans-serif, serif, monospace;
	color: #000;
}

body {
	background: #E2E2E2;
	margin: 0;
	padding: 0;
	border: 0;
}

pre.header {
    margin: 0px;
    padding: 0px;
    white-space: no-wrap;
}

pre.header DIV.logo-header {
    background: url(http://windows.php.net/images/header-corners.jpg) repeat-x 0 -232px;
	height: 116px;
	clear:both;
}

pre.header DIV.logo-header .content {
    float: left;
	background-position: 0 0;
    margin: 13px 13px 0px 13px;
	padding: 0px 11px;
}

pre.header DIV.logo-header h1 a {
	background:url(http://windows.php.net/images/header-logo-win.jpg) left top no-repeat;
	float:left;
	width:434px;
	height:76px;
    text-indent: -9999px;
}

pre.header #main-menu {
    font-size: 14pt;
    line-height:1.2;
    margin-top: -22px;
    margin-bottom: 6px;
    padding: 0 11px;
    background: none left bottom repeat-x #F6F6F6;
}

pre.header #main-menu {
    background-image: url(http://windows.php.net/images/menu-corners-back.gif);
    clear:both;
}

pre.header #main-menu ul {
  padding:8px 0;
  text-align: center;
  list-style: inline;
}

pre.header #main-menu ul {
    margin-left: 12px;
}

pre.header #main-menu li {
    display: inline;
	padding:0 20px;
	border-right:1px solid #CDCDCD;
}

pre.header #main-menu .first {
	padding-left:0;
}

pre.header #main-menu .last {
	border:0;
}


#top-navigation {
    *margin-top: -15px;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

a:link,
a:visited,
a:focus,
a:hover,
a:active	{ color: #6181B7; text-decoration: underline; cursor:pointer; }

a:hover		{  }

a:active, 
a:focus     	{ outline: 0; } /*remove border in ff*/

/* Old styles */
table {margin-left: 12px;}
th, td { font-family: \"Courier New\", Courier, mono; font-size: 9pt; text-align: left;}
th { font-weight: bold; padding-right: 14px; padding-bottom: 23px; padding-top: 2px;}
td {padding-right: 14px;}
td.s, th.s {text-align: right;}
div.list { background-color: white; background-image: url('http://www.libgd.org/skins/libgd/bluebg.jpg'); background-repeat: repeat-x; border-top: 1px solid #345570; border-bottom: 1px solid #345570; padding-top: 10px; padding-bottom: 14px;}
div.foot { text-align: center; font-family: \"Courier New\", Courier, monospace; font-size: 10pt; color: #FFFFFF; padding-top: 4px;}